root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{java,kts}]
indent_style = tab
indent_size = 4

# YAML does not allow tabs
[*.{yml,yaml}]
indent_style = space
indent_size = 2
